[submodule "deps/wombat256.vim"]
	path = deps/wombat256.vim
	url = https://github.com/vim-scripts/wombat256.vim.git
[submodule "deps/dwall"]
	path = deps/dwall
	url = https://github.com/valeriangalliat/dwall.git
[submodule "deps/noelup"]
	path = deps/noelup
	url = https://github.com/valeriangalliat/noelup.git
[submodule "deps/noelscrot"]
	path = deps/noelscrot
	url = https://github.com/valeriangalliat/noelscrot.git
[submodule "deps/spacegray"]
	path = deps/spacegray
	url = https://github.com/kkga/spacegray.git
[submodule "deps/sublime_package_control"]
	path = deps/sublime_package_control
	url = https://github.com/wbond/sublime_package_control.git
[submodule "deps/sublime-jsdocs"]
	path = deps/sublime-jsdocs
	url = https://github.com/spadgos/sublime-jsdocs.git
[submodule "deps/AsciiDoc"]
	path = deps/AsciiDoc
	url = https://github.com/SublimeText/AsciiDoc.git
