!
! ~/.Xresources
!

! Font
*.font: xft:monospace:size=8

! Terminal style
URxvt.background: black
URxvt.foreground: white
URxvt.scrollBar: false

! Clickable URLs in urxvt
URxvt.perl-ext-common: default,matcher
URxvt.underlineURLs: true
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
